<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ScrumWorksPrinter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <ScrumWorksPrinter.Properties.Settings>
      <setting name="ScrumWorksPrinter_ScrumWorksService_ScrumWorksService"
        serializeAs="String">
        <value>http://LTAPP001:8080/scrumworks-api/scrumworks</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>username_here</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>password_here</value>
      </setting>
    </ScrumWorksPrinter.Properties.Settings>
  </applicationSettings>
</configuration>